@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Basic General Styles */
:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}
h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
img{
    width: 100%;
}

/* NavBar */
.navbar{
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.navbar .flex{
    justify-content: space-between;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
nav ul{
    display: flex;
    gap: 15px;
}
.navbar a{
    color: #fff;
    margin: 0 5px;
    padding: 6px;
}
.navbar a:hover{
    border-bottom: 2px #fff solid;
}

/* Showcase #1 */
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}
.showcase h1{
    font-size: 40px;
}
.showcase p{
    margin: 20px 0; 
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}
.showcase .grid{
    grid-template-columns: 55% 40%;
    gap: 30px ;
    overflow: visible;
}
.card{
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    color: #333;
}
.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
}
.showcase-form .form-control{
    margin: 30px 0;
}

.showcase-form input[type = 'text'],
.showcase-form input[type = 'email']{
 border: 0;
 border-bottom: 1px solid #b4becb;
 max-width: 100% ;
 padding: 3px;
 font-size: 16px;
}
.showcase-form input:focus{
outline: none;
}
.showcase::before, 
.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    border: none;
}
.btn-outline{
    border: 1px #fff solid;
}
.btn:hover{
    transform: scale(0.98);
}

/* Stats */

.stats{
    padding-top: 100px;
}
.grid-3{
    grid-template-columns: repeat(3, 1fr);
}
.text-center{
    text-align: center;
    }
    .my-1{
        margin: 1rem 0; 
    }
    .my-2{
        margin: 1.5rem 0;
    }
    .my-3{
        margin: 2rem 0;
    }
    .my-4{
        margin: 3rem 0;
    }
    
    .my-5{
        margin: 4rem 0;
    }
 
.m-1{
    margin: 1rem;
}
.m-2{
    margin: 1.5rem;
}
.m-3{
    margin: 2rem;
}
.m-4{
    margin: 3rem;
}
.m-5{
    margin: 4rem;
}
/* Padding */
.py-1 {
    padding: 1rem 0;
  }
  
  .py-2 {
    padding: 1.5rem 0;
  }
  
  .py-3 {
    padding: 2rem 0;
  }
  
  .py-4 {
    padding: 3rem 0;
  }
  
  .py-5 {
    padding: 4rem 0;
  }
  
  .p-1 {
    padding: 1rem;
  }
  
  .p-2 {
    padding: 1.5rem;
  }
  
  .p-3 {
    padding: 2rem;
  }
  
  .p-4 {
    padding: 3rem;
  }
  
  .p-5 {
    padding: 4rem;
  }
  

  .stats-heading{
      max-width: 500px;
      margin: auto;
  }
  .stats .grid h3{
      font-size: 35px;
      font-weight: bold;
  }
  

  /* Sli */

.cli .grid{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "A A B"
                           "A A C";
}
.cli .grid img {
        grid-area: A;
}
.cli .grid .card1{
    grid-area: B;
}
.cli .grid .card2{
    grid-area: C;
}


/* CLoud */
.cloud .grid{
    grid-template-columns: ;
}
.bg-primary{
    background-color: var(--primary-color);
    color: #fff;
}
.lead{
    font-size: 20px;
}
.sm{
    font-size: 1rem;
}
.lg{
    font-size: 3rem;
}
.md{
    font-size: 2rem;
}
.btn-dark{
    background-color: var(--dark-color);
}


/* Langauges */
.languages .flex{
    flex-wrap: wrap;
}
.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}
.languages .card:hover{
    transform: translateY(-15px);
}


.bg-dark{
    background-color: var(--dark-color);
    color: #fff;
}
.bg-dark a{
    color: #fff;
}
footer .social a{
    margin: 0 10px;
}
footer nav ul{
    flex-direction: column;
}

/* Media Queries */

/* Tablet */

@media (max-width:768px) {
    .navbar{
        height: 100px;
    }
 .grid, .showcase .grid {
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
 }  
 .showcase
 {
     height: auto;
     text-align: center;
 } 
 .showcase-form {
     justify-self: center;
    
 }
}
/* Mobile */
@media (max-width:500px) {
    .navbar{
        height: 110px;
    }
}